In [1]:
# Import Data from CSV file 
import numpy as np
import pandas as pd
dataset = pd.read_csv('book.csv',sep=',')
dataset = dataset.replace(np.nan, '', regex=True)
dataset

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [2]:
dataset
transactions = []
for i in range(0, 2000):
    transactions.append([str(dataset.values[i,u]) for u in range(1, 10)])

In [3]:
book_series  = pd.DataFrame(pd.Series(transactions))
book_series 
book_series.columns = ["business"]
book_series

                         business
0     [1, 0, 1, 0, 0, 1, 0, 0, 0]
1     [0, 0, 0, 0, 0, 0, 0, 0, 0]
2     [0, 0, 0, 0, 0, 0, 0, 0, 0]
3     [1, 1, 0, 1, 0, 1, 0, 0, 0]
4     [0, 1, 0, 0, 0, 1, 0, 0, 0]
...                           ...
1995  [0, 1, 0, 0, 1, 1, 1, 0, 1]
1996  [0, 0, 0, 0, 0, 0, 0, 0, 0]
1997  [0, 0, 0, 0, 0, 0, 0, 0, 0]
1998  [0, 1, 0, 0, 0, 0, 0, 0, 0]
1999  [0, 0, 0, 0, 0, 0, 0, 0, 0]

[2000 rows x 1 columns]

In [4]:
from mlxtend.frequent_patterns import apriori,association_rules
frequent_itemsets = apriori(dataset, min_support=0.005, max_len=3,use_colnames = True)
frequent_itemsets

     support                        itemsets
0     0.4230                      (ChildBks)
1     0.2475                      (YouthBks)
2     0.4310                       (CookBks)
3     0.2820                      (DoItYBks)
4     0.2145                        (RefBks)
..       ...                             ...
219   0.0130   (GeogBks, ItalCook, Florence)
220   0.0115   (GeogBks, ItalArt, ItalAtlas)
221   0.0090    (GeogBks, ItalArt, Florence)
222   0.0125  (ItalArt, ItalAtlas, ItalCook)
223   0.0095   (ItalArt, ItalCook, Florence)

[224 rows x 2 columns]

In [5]:
frequent_itemsets.sort_values('support',ascending = False,inplace=True)
frequent_itemsets.sort_values

<bound method DataFrame.sort_values of      support                         itemsets
2     0.4310                        (CookBks)
0     0.4230                       (ChildBks)
3     0.2820                       (DoItYBks)
6     0.2760                        (GeogBks)
12    0.2560              (ChildBks, CookBks)
..       ...                              ...
206   0.0065    (RefBks, ItalAtlas, Florence)
64    0.0065            (ItalAtlas, Florence)
207   0.0055      (ItalArt, RefBks, Florence)
109   0.0055  (ItalAtlas, ChildBks, Florence)
145   0.0055    (ItalArt, YouthBks, Florence)

[224 rows x 2 columns]>

In [6]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(20)
rules.sort_values('lift',ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
748,"(ItalArt, RefBks)",(ItalAtlas),0.0200,0.0370,0.0165,0.825000,22.297297,0.015760,5.502857
753,(ItalAtlas),"(ItalArt, RefBks)",0.0370,0.0200,0.0165,0.445946,22.297297,0.015760,1.768780
744,"(ItalAtlas, ArtBks)",(ItalArt),0.0180,0.0485,0.0165,0.916667,18.900344,0.015627,11.418000
745,(ItalArt),"(ItalAtlas, ArtBks)",0.0485,0.0180,0.0165,0.340206,18.900344,0.015627,1.488344
352,"(ArtBks, ItalCook)",(ItalArt),0.0565,0.0485,0.0375,0.663717,13.684883,0.034760,2.829461
353,(ItalArt),"(ArtBks, ItalCook)",0.0485,0.0565,0.0375,0.773196,13.684883,0.034760,4.159977
561,"(RefBks, ItalCook)",(ItalAtlas),0.0465,0.0370,0.0230,0.494624,13.368207,0.021279,1.905511
564,(ItalAtlas),"(RefBks, ItalCook)",0.0370,0.0465,0.0230,0.621622,13.368207,0.021279,2.519964
924,(ItalArt),"(GeogBks, ItalAtlas)",0.0485,0.0205,0.0115,0.237113,11.566507,0.010506,1.283939
921,"(GeogBks, ItalAtlas)",(ItalArt),0.0205,0.0485,0.0115,0.560976,11.566507,0.010506,2.167306